
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/image/logo.jpg"  class="navbar-brand ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin">Admin</a>
          <a class="dropdown-item"routerLink="/customers">Customer</a>
          <a class="dropdown-item"routerLink="/managers">managers</a>
          <a class="dropdown-item" routerLink="/engineers">engineers</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row text-center text-black mb-5">
  <div class="col-lg-7 mx-auto">
    <h1 class="display-4 h " >Complaint Redressal System</h1>
  </div>
</div>
 <div class="row" style="justify-content: center;"> 
   <div style="padding: 2rem;"> 
    <a class="a" routerLink="/admin">Admin </a><br>
  </div>
  <div style="padding: 2rem;">
    <a class="a" routerLink="/customers">Customer </a><br>
  </div>
  <div style="padding: 2rem;">
    <a class="a" routerLink="/managers">Manager </a><br>
  </div>
  <div style="padding: 2rem;">
    <a class="a" routerLink="/engineers">Engineer </a><br>
  </div>
</div>

<router-outlet></router-outlet>